body{
    background-color:lightblue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 250px); 
    grid-template-rows: repeat(3, 250px); 
    gap: 20px;
    justify-content: center; 
    margin-top: 20px; 
}

.grid img {
    width: 250px; 
    height: 250px; 
    cursor: pointer;
    border: 2px solid #ccc; 
}
