head {   
    font-family: Lato;
    background-color: blue;
    text-align: center;
    color: white;
}

h1 {  
    font-family: Lato;
    background-color: blue;
    text-align: center;
    color: white;
}

h2 {   
    font-family: Lato;
    background-color: blue;
    text-align: center;
    color: white;
   }

body {
    font-family: Lato;
    background-color: blue;
    text-align: center;
    color: white;
    scroll-behavior: smooth;
    margin-top: 100 px;
    margin-bottom: 100 px;
    margin-left: 100 px;
    margin-right: 100 px;
    padding: 0;
    position: relative;
}
          
