head {   
    font-family: Lato;
    background-color: blue;
    text-align: center;
    color: white;
}

h1 {  
    font-family: Lato;
    background-color: blue;
    text-align: center;
    color: white;
}

h2 {   
    font-family: Lato;
    background-color: blue;
    text-align: center;
    color: white
   }

body {
    font-family: Lato;
    background-color: blue;
    text-align: center;
    color: white;
    scroll-behavior: smooth;
    margin-top: 100 px;
    margin-bottom: 100 px;
    margin-left: 100 px;
    margin-right: 100 px;
    padding: 0;
    position: relative;
}
          
.description-container {
    min-height: 50 vh;
    font-size: 2 em;
}

.description {
    margin: 25 vh auto;
    padding: 1 em;
    text-align: center;
    width: 75 %;
    min-width: 300 px;
    background-color: blue;
    color: white;

}

A Wonderful Memory with Older Brother {
        font-family: Lato;
    background-color: blue;
    text-align: center;
    color: white
}

About Me {
        font-family: Lato;
    background-color: blue;
    text-align: center;
    color: white
}
    
