body { margin: 25 vh auto;
    padding: 1 em;
    text-align: center;
    width: 75 %;
    min-width: 300 px; 
     }


body {
    font-family: Lato;
    background-color: blue;
    color: white;
    scroll-behavior: smooth;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
    position: relative;
}

.navigation {
    margin-left: 300px;
    margin-right: 300px;
    background-color: blue;
    color: white;

}
