   #square {
      width: 100px;
      height: 100px;
      background: red;
      position: absolute;
      left: 0;
      top: 400;
    }
    #circle {
      width: 100px;
      height: 100px;
      background: #0000ff;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 500;
    }

    #triangle {
      width: 0px;
      height: 0px;
      background: #00ff26;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 50px solid black; /* T
      position: absolute;
      left: 0;
      top: 600;
    }

    .stuff{
      background: blue;
      color:white;
    }

    #third{
      background: green;
      color:white;
    }

    body{
        background-color: burlywood;
    }
