   #square {
      width: 100px;
      height: 100px;
      background: #f200ff;
      position: absolute;
      left: 0;
      top: 500px;
    }
    #circle {
      width: 100px;
      height: 100px;
      background: #0000ff;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 600px;
    }

    #triangle {
      width: 0px;
      height: 0px;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 50px solid hwb(252 24% 13%);
      position: absolute;
      left: 0;
      top: 600px;
      display: none;
    }

    .stuff{
      color:white;
      text-shadow: 1px 1px 2px black
    }

    #third{
      color:white;
      display: none;
      position: absolute;
      text-shadow: 1px 1px 2px black
    }

    body{
        background-color: #a376de;
    }

 #sushi {
    position: absolute;
    display: none;
  }

  #riceballs {
    position: absolute;
    display: none;
  }

  #delicious{
    position: absolute;
    display: none;
  }
